.App {
  text-align: center;
  position: relative;

}
.mainpage{
  background-image: url(./assests/photo_2023-05-27_22-15-12.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
}
.btn1{
  transform: translate(-328px , 309px);
  width: 200px;
  height: 60px;
  border: none;
  background-color: rgb(253, 174, 185);
  color: cornsilk;
  font-family: cursive;
  border-radius: 10px;
  animation-name: btn;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes btn {
  0%   {background-color: pink;}
  25%  {background-color: rgb(33, 180, 156);}
  50%  {background-color: pink;}
  75%  {background-color: rgb(33, 180, 156);}  
  100% {background-color: pink;}
}
h1{
  position: absolute;
  top: 80px;
  left: 315px;
  font-family: cursive , sans-serif;
  color: black;
}
.btn2{
  transform: translate(328px , -245px);
  width: 200px;
  height: 60px;
  border: none;
  background-color: rgb(253, 174, 185);
  color: cornsilk;
  font-family: cursive;
  border-radius: 10px;
  animation-name: btn;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.current_block > img{
  width: 400px;
  height: 400px;
  margin: 0 auto ;
  object-fit: cover;
}
.current_block {
  margin-top: 100px;
}
.button{
  position:relative;
  display:inline-block;
  margin:20px;
}
/* @media screen and (max-width: 458px) {
  .current_block > img{
    width: 100px;
    height: 100px;
    margin: 0 auto ;
    object-fit: cover;
  }
} */
@media screen and (max-width: 390px) {
  .btn1{
    position: absolute;
    top: -200px;
    left: 349px;
    width: 115px;
    font-size: 10px;
    height: 73px;
  }
}
@media screen and (max-width: 390px) {
  .btn2{
    width: 109px;
    font-size: 10px;
    transform: translate3d(237px, -220px, -2px);
    height: 69px;
  }
}
@media screen and (max-width: 390px) {
  h1{
    position: absolute;
    top: -105px;
    left: 46px;
    width: 445px;
    text-align: center;
  }
}
@media screen and (max-width: 390px) {
  .current_block > img{
    width: 212px;
    height: 324px;
    transform: translateX(65px);
  }
}











